.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
    // display: flex;
    // align-items: center;
    
}

.footer-list {
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer-logo {
    // width: 231px;
    margin-bottom: 20px;
    justify-content: center;

}

// .footer-container {
//     @media screen and (min-width:1200px) {
//     text-align: left;
//     align-items: baseline;
//     }
// }

.footer-logo__link {
    font-family: "Raleway" , sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: #FFFFFF;
    
}

.footer-container-list {
    @media screen and (min-width:768px) {
        align-items: baseline;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

    @media screen and (min-width:1200px) {
        margin-left: auto;
        justify-content: center;
    }
    @media screen and (max-width:1199px) {
        text-align: center;
    
    }
}
.footer-social-container {
    align-items: baseline;
    @media screen and (min-width:768px) {
        margin-left: 165px;
    
    }
    @media screen and (min-width:1200px) {
    margin-left: 0;
    }
}

.footer-adress {
    
justify-content: center;
    margin-bottom: 60px;

    @media screen and (min-width:768px) {
    
    }
    @media screen and (min-width:1200px) {
        margin-left: 0;
        margin-right: 70px;
    }
}

.footer-adress__item:not(:last-child) {
margin-bottom: 9px;
}

.footer-adress__link-city {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color: var(--hover-focus-color);
    }
}



.footer-adress__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        color:  var(--hover-focus-color);
    }
}


.footer-social-container__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}

.footer-social-list__item + .footer-social-list__item {
    margin-left: 10px;
}

.footer-social-list__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.1);
    fill: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
        background-color:#2196F3;
    }
}

.subscription {
    width: 100%;
    margin-left: auto;
    // @media screen and (min-width:768px) {
    //     width: 100%;
    //     }

    @media screen and (min-width:1200px) {
    display: block;
    width: 570px;
margin-left: 93px;
    }
}



.subscription-title {
    
    width: 100%;
    height: 16px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subscription-input {
    width: 100%;
    max-width: 450px;
    outline: none;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);
    
    align-items: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:1200px) {
        width: 358px;
        margin-right: 12px;
        margin-left: 0;
    }
}

.subscription-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.sub-form {    
    align-items: center;
    @media screen and (min-width:768px) {

        display: flex;
        // flex-wrap: wrap;
}

}
.subscription-submit {
    font-size: 16px;
    line-height: 1.87;
    content: "";
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    align-items: center;
    display: block;
    padding: 10px 28px;
    border: none;
    margin-right: auto;
    margin-left: auto;

    

    @media screen and (min-width:768px) { 
        display: block;
    }
    @media screen and (min-width:1200px) { 
        margin: 0;
    }
}



.subscription-icon {
    display: inline-flex;
    content: "";
    fill: #ffffff;
    margin-left: 10px;
}

.sub-right {
    @media screen and (min-width:1200px) {
    display:flex;
    }
}