.header {
    background-color: var(--header-background-color);
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;;
}



.link__header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;    
    letter-spacing: 0.03em;
    color: var(--head-dark-color);
    margin-right: 93px;
}


.header__container {
    display: flex;
    align-items: center;
}

.site-nav {
    // display: flex;
    display: none;
    align-items: center;
}

.site-list {
    // display: flex;
    display: none;
    align-items: center;
}

.header-icon {
    content: '';
    margin-right: 10px;
    justify-content: center;
    fill: currentColor;
    cursor: pointer;
}

.current {
    color: #2196F3;
    position: relative;
}

.current::after {
    content:"";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    background-color: #2196F3;
    left: 0;
    bottom: -32px;
}

.site-list-one__item {
display: none;
    // display: flex;
    align-items: center;
}


.site-list-one {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.site-list-one > .site-list-one__item:first-child {
    margin-right: 50px;

}

.site-list__item:not(:last-child) {
    margin-right: 50px;
}



.logo-color {
color: #2196F3;
}

.site-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--body-dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: var(--hover-focus-color);  }
}

.site-list-one__link {
    @include font($fs:14px, $fw:500, $lh:1.14, $ls:0.02em);
    color: #757575;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus {
    color:var(--hover-focus-color);
    }
}

.site-list-one__link {
    content: '';
    display: flex;
    align-items: center;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-open-btn {
    margin-right: 15px;
}





.mob-menu {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 48px;
    padding-left: 40px;
}

.menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 15px;
}

.mob-menu-list {
    margin-bottom: 302px;
}

.mob-menu__link {
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #212121;
}

.mob-menu__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu-one__item {
    margin-bottom: 64px;
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.social-mob-item {
    display: inline;
}


.mob-menu-tel__link {
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #2196F3;
}

.mob-menu-mail__link {
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: #757575;
}

.social-mob-link {
    font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}