.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 1200px;
}

.worker {
    padding-top: 30px;
    
    margin-bottom: 16px;
}

.worker-social-link {
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #AFB1B8;
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
    background-color: #2196F3;
    color: #ffffff;
    }
}


.worker-social-icon {
    fill: currentColor;
}



.worker-social-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}


.worker-social-item + .worker-social-item {
    margin-left: 10px;
}
.worker-social-item {
    content: "";
    fill: #AFB1B8;
}


.about-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: calc(100% / 4 - 30px);
    justify-content: center;
}


.about-team:not(:last-child) {
margin-right: 30px;
}

.work-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--body-dark-color);
    margin-bottom: 50PX;
}


.work-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--body-dark-color);
    margin-top: 30;
    margin-bottom: 10px;
}

.work-pgf {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}