body {
    font-family: "Roboto" , sans-serif;
    background-color: var(--header-background-color);
}
ul {
    list-style: none;
}
 .list {
    list-style: none;
} 

.link {
    text-decoration: none;
} 

[href] {
    text-decoration: none;
} 

